body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #e7d7d7;
}

h2 {
    color: #333;
}

 /* Navbar styles */
 .navbar {
    background-color: #333; /* Background color of the navbar */
    overflow: hidden; /* Ensure that it doesn't overflow the content */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px; /* Adjust as needed */
}

.navbar a {
    color: white; /* Link text color */
    text-decoration: none; /* Remove underlines from links */
}

.center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.center-div img {
    border-radius: 10px;
    max-width: 35%; /* Ensure the image doesn't exceed the container's width */  
}

.center-div p {
    max-width: 60%;
    text-align: left; /* Center the text horizontally */
}

